{% load static %}
  <link rel="stylesheet" type="text/css" href= "{% static 'css/home_style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="navigation">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="center"> Game Center</a></li>
      <li><a href="players">Players</a></li>
      <li><a href="about">About</a></li>
      <li>
        <a href="#" class="fa fa-facebook"></a></li>
      <li>

        <a href="#" class="fa fa-twitter"></a></li>

    </ul>
  </div>
